<%- include ("./partials/header.ejs") %>
    <%- include ("./partials/homeNavbar.ejs") %>

        <body>
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-4">Bem-vindo</h1>
                    <p class="lead">Blog do Projeto NodeJS</p>
                    <hr class="my-4">
                </div>
                <% articles.map(article=> { %>
                    <div class="card">
                        <div class="card-header">
                            <h2>
                                <%=article.title %>
                            </h2>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-success" href="/<%=article.slug %>">Ler artigo</a>
                        </div>
                    </div>
                    <br>
                    <% }) %>
                        <div class="row">
                            <div class="col col-12">
                                <a href="/articles/page/2" style="float: right">Próximo >></a>
                            </div>
                        </div>
            </div>
        </body>
        <%- include ("./partials/footer.ejs") %>