<%- include ("../../partials/header.ejs") %>
    <%- include ("../../partials/navbar.ejs") %>

        <div class="container">
            <hr>
            <h2>Usuários</h2>
            <a class="btn btn-success" href="/admin/users/create">Criar nova categoria</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>E-MAIL</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.map(user=> { %>
                        <tr>
                            <th>
                                <%= user.id %>
                            </th>
                            <th>
                                <%= user.title %>
                            </th>
                            <th>
                                <a href="/" class="btn btn-warning">Editar</a>
                                <form method="post" action="/" style="display: inline"
                                    onsubmit="confirmDelete(event, this)">
                                    <input type="hidden" name="id" value="<%= user.id %>">
                                    <button href="/" class="btn btn-danger">Deletar</button>
                                </form>
                            </th>
                        </tr>
                        <% })%>
                </tbody>
            </table>
        </div>

        <%- include ("../../partials/footer.ejs") %>